* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

header {
  background-color: #FF9A4B;
  width: 100%;
  height: 50px;
}

main {
  width:100%;
  height: 100%;
  margin: 50px auto;
  display: flex;
  justify-content: center;
}

.item-box {
  width: 300px;
  height: 100%;
  margin-right: 30px;
  background-color: #EEEEEE;
  position: relative;
}

.item-box:last-child {
  margin-right: 0;
}

.item-head {
  background-color: #ff9a4b;
  display: inline-block;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
}

.img1 {
  height: 150px;
  margin: 10px 10px;
  background-image: url(img/flow01.png);
  background-size:cover;
  background-position: bottom;
}

.img2 {
  height: 150px;
  margin: 10px 10px;
  background-image: url(img/flow02.png);
  background-size:cover;
  background-position: bottom;
}

.img3 {
  height: 150px;
  margin: 10px 10px;
  background-image: url(img/flow03.png);
  background-size:cover;
  background-position: bottom;
}

h3 {
  padding-top: 10px;
}

footer {
  background-color: #AAAAAA;
  width: 100%;
  height: 50px;
}

@media screen and (max-width: 768px) {
  main {
    width: 100%;
    display: block;
  }

  /*.item {*/
  /*  width: 100%;*/
  /*  height: 100%;*/
  /*  margin: 50px 0;*/
  /*  display: none;*/
  /*}*/

  .item-box {
    width: 90%;
    margin-bottom: 20px;
    background-color: #EEEEEE;
    margin: 0 auto;
  }

  .item-box:last-child {
  margin: 0 auto;
}

}